<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- BoxIcons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="utils/css/style.css">
    <link rel="stylesheet" href="utils/css/menu.css">

    <title>Alpaca - Layanan Pesan Antar</title>

</head>
<body>

    <!-- Navbar Section -->

    <nav class="navbar navbar-expand-lg fixed-top py-3" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="index.html">Alpaca</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="menu.html">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Layanan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">Tentang Kami</a>
                    </li>
                </ul>

                <div>
                    <a href="login.html" class="primary-button shadow-sm">Login</a>
                </div>
            </div>
        </div>
    </nav>



    <!-- Jumbotron Section -->

    <div class="jumbotron container-fluid py-5">
        <div class="row pt-5">
            <div class="col-12 mb-3">
                <h3 class="title text-center">Temukan Makanan Anda</h3>
            </div>
            <div class="col-7 m-auto">
                <form action="" method="" class="position-relative">
                    <div class="d-flex align-items-center gap-3">
                        <input type="search" placeholder="Rendang" class="form-control" id="search-menu" autocomplete="off">
                        
                        <button type="submit" class="primary-button" id="search-button">
                            <i class="search-icon bx bx-search"></i>
                        </button>
                    </div>
                    <div class="col-11 pe-2 position-absolute">
                        <div class="list-group shadow-sm" id="search-list">
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Sort Section -->

    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-end align-items-center gap-2">
                    <h6 class="title mb-0">Urutkan berdasarkan</h6>
    
                    <form action="" method="">
                        <select class="form-select">
                            <option value="Populer" selected>Populer</option>
                            <option value="Paling Murah">Paling Murah</option>
                            <option value="Paling Mahal">Paling Mahal</option>
                            <option value="Rating">Rating</option>
                            <option value="Tipe">Tipe</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Food List Section -->

    <div class="food-list container-fluid py-4">
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 g-4" id="food-list">

        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <button type="button" class="tertier-button">Muat Lebih Banyak...</button>
            </div>
        </div>
    </div>



    <!-- Footer Section -->

    <footer class="footer py-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-12">
                    <h3 class="title mb-4">Tautan</h3>

                    <ul class="list-unstyled">
                        <li>
                            <a href="">Info</a>
                        </li>
                        <li>
                            <a href="">Blog</a>
                        </li>
                        <li>
                            <a href="">Karir</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-12">
                    <h3 class="title mb-4">Jam Buka</h3>

                    <ul class="list-unstyled pe-5">
                        <li class="d-flex justify-content-between align-items-center">
                            <p class="desc">Senin</p>
                            <p class="desc">9:00 - 20:00</p>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <p class="desc">Selasa</p>
                            <p class="desc">9:00 - 20:00</p>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <p class="desc">Rabu</p>
                            <p class="desc">9:00 - 20:00</p>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <p class="desc">Kamis</p>
                            <p class="desc">9:00 - 20:00</p>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <p class="desc">Jumat</p>
                            <p class="desc">9:00 - 20:00</p>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <p class="desc">Sabtu</p>
                            <p class="desc">9:00 - 20:00</p>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <p class="desc">Minggu</p>
                            <p class="desc">9:00 - 20:00</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-12">
                    <p class="notification mb-4">Dapatkan informasi dan promo terbaru dari kami.</p>

                    <form action="" method="">
                        <div class="mb-3">
                            <input type="email" placeholder="johndoe@gmail.com" class="form-control" id="" aria-describedby="emailHelp" autocomplete="off">
                        </div>

                        <button type="submit" class="primary-button shadow-sm">Langganan</button>
                    </form>
                </div>
            </div>
        </div>
    </footer>



    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="utils/js/script.js"></script>

</body>
</html>