@import url(style.css);

/* Features Section */

.features .card {
    background-color: var(--white-color);
    transition: 0.3s;
}

.features .card:hover {
    border-color: var(--primary-color);
}

.features .card .image-container {
    width: 4rem;
    height: 4rem;
    padding: 0.7rem;
    border: 3px solid var(--secondary-color);
    border-radius: 50%;
}



/* Style Order Section */

.order .title {
    width: 75%;
}

.order li .desc {
    position: relative;
    padding-left: 3rem;
    line-height: 2rem;
}

.order li .desc::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-image: url(../../images/static/checklist-icon.png);
}