@import url(style.css);

/* Style Jumbotron Section */

.jumbotron .form-control {
    border-radius: 0.4rem 0.4rem 0 0;
}

.jumbotron .list-group {
    border-radius: 0 0 0.4rem 0.4rem;
}

.jumbotron .list-group button:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.jumbotron .primary-button {
    display: flex;
    align-items: center;
}

.jumbotron .search-icon {
    font-size: 1.5rem;
}



/* Style Food List Section */

.food-list .card-group .card {
    border-color: var(--black-color);
    border-radius: 0.5rem;
    transition: 0.3s;
}

.food-list .card-group .card .image-container {
    height: 10rem;
}

.food-list .card-group .card .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

.food-list .card-group .card .desc {
    font-size: 1.2rem;
    font-weight: var(--fw-medium);
}

.food-list .card-group .card .promo {
    font-size: 0.9rem;
    font-weight: var(--fw-regular);
    text-decoration: line-through;
    text-decoration-thickness: 0.1rem;
}

.food-list .card-group .card .primary-button {
    width: 100%;
}

.food-list button.primary-button {
    background-color: var(--black-color);
    border-color: var(--black-color);
}