/* Variable CSS */

:root {
    --primary-color: #E84545;
    --secondary-color: #00B8A9;
    --white-color: #F7FBFC;
    --black-color: #311D3F;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}



/* Reset CSS and Style Base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white-color);
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}



/* Reuseable Class */

.title {
    color: var(--black-color);
    font-weight: var(--fw-bold);
}

.desc {
    color: var(--black-color);
    font-weight: var(--fw-regular);
}

.primary-button {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 0.4rem;
    color: var(--white-color) !important;
    font-weight: var(--fw-semibold);
    text-align: center;
    user-select: none;
}

.secondary-button {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    background-color: transparent;
    border: 3px solid var(--primary-color);
    border-radius: 0.4rem;
    color: var(--black-color) !important;
    font-weight: var(--fw-semibold);
    text-align: center;
    user-select: none;
}

.tertier-button {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    background-color: var(--white-color);
    border: 3px solid var(--white-color);
    border-radius: 0.4rem;
    color: var(--black-color) !important;
    font-weight: var(--fw-semibold);
    text-align: center;
    user-select: none;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.4rem 0.8rem;
    font-weight: var(--fw-regular);
    color: var(--black-color);
    background-color: var(--white-color);
    border: 3px solid var(--black-color);
    border-radius: 0.4rem;
}

.form-control:focus {
    color: var(--black-color);
    background-color:var(--white-color);
    border-color: var(--black-color);
    box-shadow: none;
}

.form-check-input:focus {
    border-color: var(--white-color);
    outline:none;
    box-shadow:none
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--secondary-color)
}

.form-select {
    width: 100%;
    padding: 0.4rem 2.25rem 0.4rem 0.8rem;
    font-weight: var(--fw-regular);
    color: var(--black-color);
    background-color:var(--white-color);
    border: 1px solid var(--black-color);
    border-radius: 0.4rem;
    appearance: none;
}

.form-select:focus {
    border-color:var(--black-color);
    outline: none;
    box-shadow: none;
}


/* Style Navbar Section */

.navbar {
    background-color: var(--white-color);
    transition: all 0.3s;
}

.navbar.scroll {
    box-shadow: 0 0.125rem 0.25rem rgba(49, 29, 63, 0.075);
}

.navbar .logo {
    color: var(--black-color) !important;
    font-weight: var(--fw-bold);
    user-select: none;
}

.navbar .nav-link {
    color: var(--black-color) !important;
    font-weight: var(--fw-semibold);
    transition: 0.3s;
}

.navbar .nav-link:hover {
    color: var(--secondary-color) !important;
}

.navbar .nav-link.active {
    color: var(--primary-color) !important;
    font-weight: var(--fw-bold);
}



/* Style Footer Section */

.footer {
    background-color: var(--black-color);
}

.footer .title {
    color: var(--white-color);
}

.footer .desc {
    color: var(--white-color);
}

.footer .notification {
    color: var(--white-color);
    font-size: 0.9rem;
    font-weight: var(--fw-regular);
}

.footer a {
    display: inline-block;
    margin: 0.3rem 0;
    padding: 0.2rem 0.4rem 0.2rem 0;
    color: var(--white-color);
}

.footer a:hover {
    color: var(--secondary-color);
}

.footer form .primary-button {
    width: 100%;
}